.side-bubble:hover {
  background-color: #d9d9d9;
}

.side-bubble {
  transition: 0.3s;
}

.bubble-icon {
  width: 80px;
  text-align: center;
  font-size: 40px;
  fill: white;
}

.feature-card {
  height: 20vh;
}

.feature-card-image {
  transition: 0.3s;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  height: 20vh;
}