.side-bubble:hover {
  background-color: #d9d9d9;
}

.side-bubble {
  transition: 0.3s;
}

.bubble-icon {
  width: 80px;
  text-align: center;
  font-size: 40px;
  fill: white;
}

.feature-card {
  height: 150px;
}

.feature-card-image {
  transition: 1s;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  height: 150px;
}

.trending-card {
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

.trending-card-image {
  transition: 1s;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
}

.trending-card-wrapper {
  border-radius: 20px;
  background-color: #F5F5F5;
  height: 100%
}

.trending-card-wrapper:hover .trending-card {
  opacity: 8%;
}